#content {
  @import "playercontrols";
  @import "progress";
  position: absolute;
  left: 0; top: 0; bottom: 0;
  overflow: hidden;
  right: @widthFrame;

  #content-wrapper {
    position: fixed;
    overflow-x: auto;
    top: 0;
    bottom: @heightProgress+5;
    left: @widthControls+5;
    right: @widthFrame;
    #content-holder {
      width: 1900px;
      height: 100%;

      @import "playlist";

    }
  }

  .tile, .tile-wide, .tile-small, .tile-square {
    &[disabled] {
      cursor: default !important;
      opacity: .6;
      pointer-events: none;
    }
  }
}
