.form-conf {
  position: absolute;
  top: 50%;
  margin-top: -5rem;
  box-sizing: border-box;
  left: 50%;
  margin-left: -14rem;
  opacity: 1;
  width: 30rem;
  height: 10rem;
  transform: scale(1);
  transition: 0.5s;
}
