#frame {
  position: fixed;
  z-index: 100;
  right: 0; top: 0; bottom: 0;
  width: @widthFrame;
  -webkit-app-region: drag;
  .action-buttons {
    display: flex;
    flex-direction: column;
    .btn {
      -webkit-app-region: no-drag;
      font-weight: bold;
      margin: 2px;
      padding: 10px;
      font-size: 2em;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: @dark;
        color: @darkCrimson;
        &.close {
          color: @crimson;
        }
      }
    }
  }

  &:hover {
    background: @darkCrimson;
  }

}
