
#progress {
  position: fixed;
  bottom: 0;
  left: @widthControls;
  right: @widthFrame;
  height: @heightProgress;
  //background: blue;

  .label {
  }

  .percent {
  }

  .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: green;
    height: 100%;
    width: 0;
    transition: width 5s;
    opacity: .6;
  }

}
