//
// taken from a code pen http://codepen.io/Maseone/pen/rGapf

// Color variables (appears count calculates by raw css)
@color0: #aced29; // Appears 3 times
@color1: #4ef02b; // Appears 3 times
@color2: #38e790; // Appears 3 times
@color3: #25eacc; // Appears 3 times
@color4: #f42df1; // Appears 3 times
@color5: #edeb29; // Appears 3 times
@color6: #fc7e48; // Appears 3 times
@color7: #852df4; // Appears 3 times
@color8: #d4141e; // Appears 3 times
@color9: #309cdf; // Appears 2 times
@color10: #2544e7; // Appears 2 times
@colorText: #CECECE;


// Height variables (appears count calculates by raw css)
@height0: 220px; // Appears 2 times
@height1: 200px; // Appears 2 times
@height4: 8px; // Appears 6 times


#splash {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;

  .loading-state {
    position: absolute;
    top: 67%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    text-align: center;
    color: @colorText;
  }

  .loading-wrapper {

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;


    .line {
      background-color: red;
      height: @height4;
      position: absolute;
      top: 0px;
      width: 2px;
    }
    .circle {
      background-color: blue;
      border-radius: 50%;
      display: block;
      height: @height4;
      position: absolute;
      width: 8px;
    }
    .circle-top {
      left: -3.5px;
      top: 0px;
    }
    .circle-bottom {
      bottom: 0px;
      left: -3.5px;
    }
    .dot {
      border-radius: 50%;
      display: block;
      height: 4px;
      left: -1.5px;
      position: absolute;
      width: 4px;
    }

    .generate-line(@num, @bgcol, @dotcol) {
      .line@{num} {
        animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
        background-color: @bgcol;
        margin-left: 35px * (@num - 1);

        >span {
          background-color: @dotcol;
        }
        >.dotted {
          >.dot {
            background-color: @dotcol;
          }
          >.dot-top {
            animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
            top: 0px;
          }
          >.dot-bottom {
            animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
            bottom: 0px;
          }
          >.dot-middle-top {
            animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
            top: 0px;
          }
          >.dot-middle-bottom {
            animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
            bottom: 0px;
          }
        }
      }
    }

    .generate-line(1,  #2410CB, @color8);
    .generate-line(2,  @color7, @color6);
    .generate-line(3,  @color4, @color5);
    .generate-line(4,  #F91396, @color0);
    .generate-line(5,  @color8, @color1);
    .generate-line(6,  @color6, @color2);
    .generate-line(7,  @color5, @color3);
    .generate-line(8,  @color0, @color9);
    .generate-line(9,  @color1, @color10);
    .generate-line(10, @color2, @color7);
    .generate-line(11, @color3, @color4);

  }
}

@keyframes line{
  0%{height: 4px; top: 0px; left: 0px; transform: rotate(-65deg)}
  10%{height: 120px; top: -80px; left: 15px;}
  45%{height: 100px; top: -60px; left: 25px;}
  70%{height: 8px; top: 0px; left: 25px; transform: rotate(0deg);}
  100%{height: 8px; top: 0px; left: 15px; transform: rotate(0deg);}
}
@keyframes dot-top{
  0%{top: -30px}
  10%{top: -30px;}
  45%{top: -25px;}
  60%{top: 0px;}
  100%{top: 0px;}
}
@keyframes dot-bottom{
  0%{bottom: -30px}
  10%{bottom: -30px;}
  45%{bottom: -25px;}
  60%{bottom: 0px;}
  100%{bottom: 0px;}
}
@keyframes dot-middle-top{
  0%{}
  10%{}
  45%{top: 78px;}
  70%{top: -50px;}
  85%{top: 0px;}
  100%{top: 0px;}
}
@keyframes dot-middle-bottom{
  0%{}
  10%{}
  45%{bottom: 78px;}
  70%{bottom: -50px;}
  85%{bottom: 0px;}
  100%{bottom: 0px;}
}
